.mainContainer-SearchBar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.search-SearchBar {
    padding: 6px;
    width: 20%;
    border-color: lavender;
    border-radius: 20px;
}
.dogsBack-SearchBar {
    background: #ffc492;
    border: none;
    padding: 6px;
    border-radius: 7px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.dogsBack-SearchBar:hover {
    color: white;
}

.dogsBack-SearchBar::after {
    content: "";
    background: #db2777d9;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.dogsBack-SearchBar:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}


.btn-SearchBar {
    background: #ffc492;
    border: none;
    padding: 6px;
    border-radius: 7px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    width: 110px;
    display: none;
}

.btn-SearchBar:hover {
    color: white;
}

.btn-SearchBar::after {
    content: "";
    background: #db2777d9;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.btn-SearchBar:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}